.nav{
    display: flex;
    justify-content: flex-end;
     color: white;

     
   

  }

  
 
  .navbar{
    background-color: black;
    display: flex;
    color: #3399FF;
 justify-content: space-between;
  align-items: center;
  text-indent: 5px;
  font-family: 'Times New Roman', Times, serif;
  flex-wrap: wrap;
  }


  
  
  
  
  .nav>ul{
    display: flex;
    justify-content: space-around;
  }
  
  .nav>ul>li{
    display: flex;
  
    justify-content: flex-end;
    border: 3px solid #3399FF;
    margin: 5px;
    border-radius: 5px;
     background-color: white;
    color: white;
  }
  
  .nav>ul>li>a{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: #3399FF;
   
  }
  
  h1{
    text-align: center;
    padding: 0px 20px;
  };
