
.Home{
   background-image: url("./assets/bruna-branco-7r1HxvVC7AY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
   
  }
 