

.signup{
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
}

.profilelist{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
 
   justify-content: center;
   
   

}

.main{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
    padding: 20px 40px;
    margin: 10px ;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    
}

.head{
    display: flex;
}

form{
   
   
    margin: auto;
    background-color: white;
    padding: 10px;
    margin: 5px;
    font-style: italic;
    display: flex;
    justify-content: center;
   box-sizing: border-box;
   flex-wrap: wrap;
    flex-direction: column;
}
button{
    background-color:#1565C0;
    border-radius: 3px;
    color: white;
    padding: 10px;
    border: 1px solid #1565C0;
}

.main:hover{
    box-shadow: 0px -1px 6px 5px #d1cece;
    cursor: pointer;
}

h4{
   
    
  
    font-size: xx-large;
    text-transform: capitalize;
}
.img{
    
    margin: auto;
    border-radius: 40%;
    width: 120px;
}

input{
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;

}

.email{
    font-style: italic;
}

